
*.jar

*.class

*.ini

\.metadata/\.plugins/org\.eclipse\.ui\.workbench/

\.metadata/\.plugins/org\.eclipse\.oomph\.setup/

\.metadata/\.plugins/org\.eclipse\.ui\.intro/

\.metadata/\.plugins/org\.eclipse\.m2e\.logback\.configuration/

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/

\.metadata/\.plugins/org\.eclipse\.jdt\.core/

*.json

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/

\.metadata/

ServerProgram/\.classpath
